{
  "openapi": "3.0.0",
  "info": {
    "title": "appear.in",
    "version": "1.0.0",
    "description": "Appear.in API"
  },
  "servers": [
    {
      "url": "https://api.appear.in/v1",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "The bearer token will be provided upon request and it is up to the client to keep it secret. Every api call needs to contain this token in order to authenticate and authorize the client.\n"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Access token is missing or invalid"
      },
      "NotFoundError": {
        "description": "The requested resource doesn't exist"
      }
    },
    "security": [
      {
        "BearerAuth": []
      }
    ],
    "parameters": {
      "meetingId": {
        "name": "meetingId",
        "in": "path",
        "description": "meeting ID.",
        "required": true,
        "example": "1"
      }
    },
    "schemas": {
      "Meeting": {
        "type": "object",
        "properties": {
          "meetingId": {
            "type": "string",
            "description": "The ID of the meeting.",
            "example": "1"
          },
          "roomUrl": {
            "type": "string",
            "format": "uri",
            "description": "The URL to room where the meeting will be hosted.",
            "example": "https://example.com/test-room-9378ce50-e0c4-4661-a2fb-f75ed4e168b0"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "When the meeting starts."
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "When the meeting ends."
          }
        }
      }
    }
  },
  "paths": {
    "/meetings": {
      "post": {
        "summary": "Create meeting",
        "description": "Creates a meeting as specified.\nIt will also create a transient room that is guaranteed to be available for specified start and end time. Some time after the meeting has ended, the transient room will be automatically deleted.\nThe URL to this room is present in the response.\n",
        "requestBody": {
          "description": "Meeting to add.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "startDate",
                  "endDate"
                ],
                "properties": {
                  "roomNamePrefix": {
                    "type": "string",
                    "maxLength": 40,
                    "pattern": "[/][a-zA-Z0-9]{0,39}",
                    "example": "/example-prefix",
                    "description": "This will be used as the prefix for the room name. Note that the room name needs to start with /\nif it is provided.\n"
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the meeting starts. This has to be newer than the current date."
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the meeting ends. This has to be the same or after the startDate."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The resource was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meeting"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/meetings/{meetingId}": {
      "delete": {
        "summary": "Delete meeting",
        "description": "Deletes the specified meeting. The endpoint is idempotent, meaning it will return the same response even if the meeting has already been deleted.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/meetingId"
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "Get meeting",
        "description": "Returns the specified meeting.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/meetingId"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object representing the meeting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meeting"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    }
  },
  "tags": []
}